<%= render('shared/header', title: 'Courses and Lessons') %>

<ul class="row">
  <% @courses.each do |course| %>
    <li class = col-md-3><%= course.name %></li>
    <ul>
      <% if course.lessons.any?  %>
        <% course.lessons.each do |lesson| %>
          <li> <%= link_to lesson.title, lesson_path(lesson) %> </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</ul>

 <hr>

<% @lessons.each do |lesson| %>
  <p>
    <%= link_to lesson.title, lesson_path(lesson) %>
  </p>
<% end %>

<%= link_to 'Create a New Lesson', new_lesson_path %>
<%= link_to 'Create a New Course', new_course_path %>
